name: Release
on:
  push:
    tags:
      - 'v[0-9]*'

env:
  IMAGE_NAME: ghcr.io/zombiezen/tailscale-lb

jobs:
  docker:
    name: Docker Push
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: ["amd64", "arm64"]
    steps:
      - name: Log into GitHub Container Registry
        run: echo "$GITHUB_TOKEN" | docker login ghcr.io -u zombiezen --password-stdin
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Install Nix
        uses: cachix/install-nix-action@v20
      - name: Set up cache
        uses: zombiezen/setup-nix-cache-action@v0.1.0
        with:
          substituters: s3://zombiezen-tailscale-lb-nixcache?endpoint=https://storage.googleapis.com
          secret_keys: ${{ secrets.NIX_PRIVATE_KEY }}
          aws_access_key_id: ${{ secrets.GCS_HMAC_ACCESS_ID }}
          aws_secret_access_key: ${{ secrets.GCS_HMAC_SECRET_ACCESS_KEY }}
      - name: Check out code
        uses: actions/checkout@v3
      - id: build
        name: Build
        run: |
          IMAGE_TAG="$(echo ${{ github.ref_name }} | sed -e 's/^v//')-${{ matrix.arch }}"
          echo "tag=$IMAGE_TAG" >> $GITHUB_OUTPUT
          nix build \
            --file docker.nix \
            --argstr name "$IMAGE_NAME" \
            --argstr tag "$IMAGE_TAG" \
            --argstr rev ${{ github.sha }} \
            --argstr system x86_64-linux
      - name: Load into Docker
        run: docker load < result
      - name: Push to GitHub Container Registry
        run: docker push "${IMAGE_NAME}:${IMAGE_TAG}"
        env:
          IMAGE_TAG: ${{ steps.build.outputs.tag }}
  docker-manifest:
    name: Create Multi-Arch Image
    needs: [docker]
    runs-on: ubuntu-latest
    steps:
      - name: Log into GitHub Container Registry
        run: echo "$GITHUB_TOKEN" | docker login ghcr.io -u zombiezen --password-stdin
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - id: manifest
        name: Create manifest
        run: |
          IMAGE_TAG="$(echo ${{ github.ref_name }} | sed -e 's/^v//')"
          echo "tag=$IMAGE_TAG" >> $GITHUB_OUTPUT
          docker manifest create \
            "${IMAGE_NAME}:${IMAGE_TAG}" \
            "${IMAGE_NAME}:${IMAGE_TAG}-amd64" \
            "${IMAGE_NAME}:${IMAGE_TAG}-arm64"
      - name: Push to GitHub Container Registry
        run: docker manifest push "${IMAGE_NAME}:${IMAGE_TAG}"
        env:
          IMAGE_TAG: ${{ steps.manifest.outputs.tag }}

permissions:
  contents: read
  packages: write
